.Button {
  padding: 9px 15px;
  background-color: var(--dark-blue);

  color: var(--mint);
  font-weight: 700;
  font-size: 1em;

  border: none;
  border-radius: 10px;
}

.Button.ButtonDisabled {
  background-color: var(--gray);
}

.Button.ButtonDisabled:active {
  background-color: var(--gray);
}

.Button:active {
  background-color: var(--blue);
}

.Button.reverseColors {
  background-color: var(--mint);
  color: var(--dark-blue);
}
