.User {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 20px;
  top: 20px;

  font-weight: 700;
  font-size: 1rem;

  background-color: var(--mint);
  color: var(--dark-blue);
  padding: 0 20px 0 0;
  border-radius: 30px;
  overflow: hidden;
}

.UserInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserIconContainer {
  background-color: var(--blue);
  border-radius: 50%;

  color: var(--mint);

  padding: 15px;
}
