.Game .canvasContainer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.Game .canvasContainer canvas {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}

.Game .btn {
  font-family: "Open Sans", sans-serif;
}

.Game .big-screen-button {
  margin: 0.25em;
  font-size: 1em;
}

.Game .small-screen-button {
  border-color: white;
  border-width: 1px;
}

.Game #playAgainButton {
  display: none;
}

.Game #resetButton {
  visibility: hidden;
}

.Game #copyBox {
  display: none;
}

.Game .popup {
  display: none;
}

.Game .chipIndicator {
  visibility: hidden;
  pointer-events: none; /* Prevent dragging */
}

.Game #logo {
  pointer-events: none; /* Prevent dragging */
}

.Game #loading {
  margin: 64px;
}

.Game {
  /* Prevent text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Game {
  height: 100%;
  background: white;
  background: linear-gradient(
    -45deg,
    rgba(244, 255, 182, 0.9),
    rgba(200, 240, 255, 1)
  );
}

.container {
  max-width: 85vh;

  background: white;
  padding: 1em;
  box-shadow: 0 0 256px 200px white;
}

#game-status {
  user-select: text;
}
